.wrapper {
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 40;
}

.backButton {
  position: absolute;
  left: 0;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
}
